:root {
  --pink: #ec5980;
  --periwinkle: #6870b0;
  --lightperi: #e9ecff;
  --gold: #d28819;
  --wine: #821e25;
}

body {
  font-family: 'Georama', sans-serif;
  font-weight: 400;
  background-color: var(--gold);
}

a {
  text-decoration: none;
}

h2 {
  color: var(--lightperi);
}

