:root {
  --pink: #ec5980;
  --periwinkle: #6870b0;
  --lightperi: #e9ecff;
  --gold: #d28819;
  --wine: #821e25;
}

body {
  font-family: 'Georama', sans-serif;
  font-weight: 400;
  background-color: var(--gold);
}

a {
  text-decoration: none;
}

nav {
  margin-bottom: 35px;
  background-color: var(--periwinkle);
}

.navbar-brand {
  font-size: 30px;
  margin-right: 40px;
  text-align: center;
}

.navbar-brand a {
  color: var(--lightperi);
}

.navbar-brand a:hover {
  color: var(--gold);
}

.nav-link {
  font-size: 18px;
  color: var(--lightperi);
  margin-right: 20px;
  text-align: center;
}

.current-page {
  color: var(--periwinkle);
  background-color: var(--lightperi);
  border-radius: 30px;
  padding: 5px;
}

.nav-link:hover {
  color: var(--gold);
}

.navbar-toggler {
  border-color: var(--lightperi);
  background-color: var(--periwinkle);
  padding: 1px;
}

h2 {
  color: var(--lightperi);
}

.about-me {
  margin-top: 20px;
  padding: 25px 0 25px 0;
}

.portrait {
  border-radius: 100%;
  width: 100%;
  border: 3px solid var(--periwinkle);
}

.about-me p {
  text-align: justify;
  margin: 10px;
  color: var(--lightperi);
}

.project-image {
  width: 100%;
  border: 3px solid var(--periwinkle);
  margin-top: 20px;
}

.project-tile {
  position: relative;
}

.overlay {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 5px;
  right: 0;
  height: 90%;
  width: 93%;
  opacity: 0;
  transition: .3s ease;
  background-color: var(--periwinkle);
  margin: 10px;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px rgba(104, 112, 176, .5);
}

.project-tile:hover .overlay {
  opacity: 1;
}

.overlay-info {
  color: var(--lightperi);
  text-align: center;
  margin: 10px;
  font-size: 20px;
}

.overlay-info a {
  color: var(--gold);
  margin-top: 20px;
  padding: 0;
  font-size: 18px;
}

.overlay-info a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 10px;
  background-color: rgba(104, 112, 176, 1);
  color: var(--lightperi);
  font-size: 15px;
}