/* nav {
  margin-bottom: 35px;
  background-color: var(--dark);
}

.navbar-brand {
  font-size: 30px;
  margin-right: 40px;
  text-align: center;
}

.navbar-brand a {
  color: var(--kiwi);
}

.navbar-brand a:hover {
  color: var(--kiwi);
}

.nav-link {
  font-size: 18px;
  color: var(--light);
  margin-right: 20px;
  text-align: center;
}

.current-page {
  color: var(--periwinkle);
  background-color: var(--light);
  border-radius: 30px;
  padding: 5px;
}

.nav-link:hover {
  color: var(--gold);
}

.navbar-toggler {
  border-color: var(--light);
  background-color: var(--kiwi);
  padding: 1px;
}

h1 {
  font-family: acier-bat-noir,sans-serif;
  font-weight: 400;
  font-style: normal;
} */